:root {
  --primary-theme-color: #ec4141;
  --primary-background-color: #ffffff;
  --primary-gray-color: #f6f6f8;
  --primary-border-color: #e1e1e1;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}
